#task-count {
    margin-bottom: 20px;
  }
  
  #newtask-btn {
    margin-bottom: 10px;
  }
  
  #tasklist-table {
    border-collapse: collapse;
    text-align: left;
  }
  
  th {
    border-bottom: 2px solid black;
  }
  
  #taskheader-column {
    width: 30%;
  }
  
  #task-row:last-child {
    border-bottom: 2px solid black;
  }